[submodule "neoclide/start/coc.nvim"]
	path = neoclide/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "neoclide/start/coc-neco"]
	path = neoclide/start/coc-neco
	url = https://github.com/neoclide/coc-neco
[submodule "fannheyward/start/coc-rust-analyzer"]
	path = fannheyward/start/coc-rust-analyzer
	url = https://github.com/fannheyward/coc-rust-analyzer
[submodule "rstacruz/start/vim-coc-settings"]
	path = rstacruz/start/vim-coc-settings
	url = https://github.com/rstacruz/vim-coc-settings
[submodule "Shougo/start/neco-vim"]
	path = Shougo/start/neco-vim
	url = https://github.com/Shougo/neco-vim
[submodule "andlrc/start/rpgle.vim"]
	path = andlrc/start/rpgle.vim
	url = https://github.com/andlrc/rpgle.vim
[submodule "liuchengxu/start/graphviz.vim"]
	path = liuchengxu/start/graphviz.vim
	url = https://github.com/liuchengxu/graphviz.vim
[submodule "pangloss/start/vim-javascript"]
	path = pangloss/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "sheerun/start/vim-polyglot"]
	path = sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "wannesm/start/wmgraphviz.vim"]
	path = wannesm/start/wmgraphviz.vim
	url = https://github.com/wannesm/wmgraphviz.vim
[submodule "frankiebaffa/start/Vim-Folddiff"]
	path = frankiebaffa/start/Vim-Folddiff
	url = https://github.com/frankiebaffa/Vim-Folddiff
[submodule "frankiebaffa/start/vim-tasks"]
	path = frankiebaffa/start/vim-tasks
	url = https://github.com/frankiebaffa/vim-tasks
[submodule "junegunn/start/fzf"]
	path = junegunn/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "qpkorr/start/vim-bufkill"]
	path = qpkorr/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "tpope/start/vim-fugitive"]
	path = tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "tpope/start/vim-surround"]
	path = tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "tpope/start/vim-repeat"]
	path = tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-scripts/start/ParseJSON"]
	path = vim-scripts/start/ParseJSON
	url = https://github.com/vim-scripts/ParseJSON
[submodule "voldikss/start/vim-floaterm"]
	path = voldikss/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "neoclide/start/coc-tsserver"]
	path = neoclide/start/coc-tsserver
	url = https://github.com/neoclide/coc-tsserver
[submodule "neoclide/start/coc-java"]
	path = neoclide/start/coc-java
	url = https://github.com/neoclide/coc-java
[submodule "neoclide/start/coc-json"]
	path = neoclide/start/coc-json
	url = https://github.com/neoclide/coc-json
[submodule "neoclide/start/coc-python"]
	path = neoclide/start/coc-python
	url = https://github.com/neoclide/coc-python
[submodule "neoclide/start/coc-css"]
	path = neoclide/start/coc-css
	url = https://github.com/neoclide/coc-css
[submodule "josa42/start/coc-sh"]
	path = josa42/start/coc-sh
	url = https://github.com/josa42/coc-sh
[submodule "neoclide/start/coc-html"]
	path = neoclide/start/coc-html
	url = https://github.com/neoclide/coc-html
[submodule "coc-extensions/start/coc-powershell"]
	path = coc-extensions/start/coc-powershell
	url = https://github.com/coc-extensions/coc-powershell
[submodule "fannheyward/start/coc-texlab"]
	path = fannheyward/start/coc-texlab
	url = https://github.com/fannheyward/coc-texlab
[submodule "tpope/start/vim-vinegar"]
	path = tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "tpope/start/vim-dadbod"]
	path = tpope/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "kristijanhusak/start/vim-dadbod-ui"]
	path = kristijanhusak/start/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui
[submodule "kristijanhusak/start/vim-dadbod-completion"]
	path = kristijanhusak/start/vim-dadbod-completion
	url = https://github.com/kristijanhusak/vim-dadbod-completion
[submodule "coc-extensions/start/coc-svelte"]
	path = coc-extensions/start/coc-svelte
	url = https://github.com/coc-extensions/coc-svelte
[submodule "vim-airline/start/vim-airline"]
	path = vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes/start/vim-airline-themes"]
	path = vim-airline-themes/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "jeffkreeftmeijer/start/vim-dim"]
	path = jeffkreeftmeijer/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
